<ion-list>
  <div class="menu-list">
    <ion-icon name="library-outline" size="large"></ion-icon>
    <ion-text class="hide-text">Dashboard</ion-text>
  </div>
  <div class="menu-list">
    <ion-icon name="chatbubbles-outline" size="large"></ion-icon>
    <ion-text class="hide-text">Chat</ion-text>
  </div>
  <div class="menu-list">
    <ion-icon name="add-circle-outline" size="large"></ion-icon>
    <ion-text class="hide-text">New Job</ion-text>
  </div>
  <div class="menu-list">
    <ion-icon name="notifications-outline" size="large"></ion-icon>
    <ion-text class="hide-text">Notifications</ion-text>
  </div>
  <div class="menu-list">
    <ion-icon name="calendar-outline" size="large"></ion-icon>
    <ion-text class="hide-text">Calender</ion-text>
  </div>
  <div class="menu-list">
    <ion-icon name="hammer-outline" size="large"></ion-icon>
    <ion-text class="hide-text">Setting</ion-text>
  </div>
</ion-list>
