<ion-split-pane when="xs" contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="tertiary">
        <div class="title">
          <ion-icon name="menu-outline" size="large"></ion-icon>
          <ion-text class="hide-on-xs">Menu</ion-text>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <app-sidebar></app-sidebar>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main">
    <ion-header>
      <app-toolbar></app-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <app-content-view></app-content-view
    ></ion-content>
  </div>
</ion-split-pane>
