<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="3" class="">
        <div class="form-box">
          <label class="form-label" labelPlacement="stacked"
            ><h4>Login</h4></label
          >
          <ion-list class="login-form">
            <ion-item class="login-input" color="white">
              <ion-input
                class="input"
                label="Email"
                labelPlacement="stacked"
              ></ion-input>
            </ion-item>

            <ion-item class="login-input" color="white">
              <ion-input
                class="input"
                label="Password"
                labelPlacement="stacked"
              ></ion-input>
            </ion-item>
          </ion-list>
          <ion-button (click)="hello()">Submit</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
