
ion-content{
  --ion-background-color: #defad7;
}

.form-box{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-around;
  align-items: center;
  border-radius: 40px;
}

ion-list{
  background-color: white;
}

ion-row{
  padding: 15% 0;
}

.register{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: xx-small;
}

#register{
  font-size: 12px;
}